/* Подвал страницы / Футер */
.footer-section {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-section__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }

  @media screen and (max-width: 1199px) {
    justify-content: space-evenly;
    text-align: center;
  }
  padding-left: 15px;
  padding-right: 15px;
}

.address-section {
  height: 81px;
  font-style: normal;
  line-height: 1.7;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.address-list {
  display: block;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.address-map {
  color: $primary-white-color;
  line-height: 1.7;
  text-decoration: none;
}

.address-list__link {
  color: $primary-white-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-list__contacts {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-contacts .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-social-links {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer-social-links__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.footer-social-list__item {
  display: flex;
  height: 44px;
  width: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;

  transition: fill $animation-time $main-timing-function,
    background-color $animation-time $main-timing-function;

  &:hover,
  &:focus {
    fill: $primary-white-color;
    background-color: $accent-color;
    border-radius: 50px;
  }
}

.footer-social-list__icon {
  fill: $primary-white-color;
}

.subscription {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
  }
}

.subscription__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscription__input-footer {
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }

  margin-top: 20px;
  width: 100%;
  min-height: 50px;

  background: #2f303a;
  color: $primary-white-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;

  transition: fill $animation-time $main-timing-function,
    background-color $animation-time $main-timing-function;

  &:focus,
  &:hover {
    border-color: $accent-color;
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.button-form {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  min-height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.06em;

  color: #ffffff;

  padding: 0;

  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
}

.subscription__icon {
  fill: $primary-white-color;
  margin-left: 10px;
}
