/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.auth-nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 93px;

    & .site-nav__item + .site-nav__item {
      margin-left: 50px;
    }
  }

  & .link {
    display: block;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  &.site-nav__link--active::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -18px;

    width: 100%;
    height: 4px;

    background-color: $accent-color;
    border-radius: 2px;

    transform: scaleX(1);
  }

  &::after {
    content: "";

    transform: scaleX(0);
    transition: transform $animation-time $main-timing-function;
  }

  &:hover::after,
  &:focus::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -18px;

    width: 100%;
    height: 4px;

    background-color: $accent-color;
    border-radius: 2px;

    transform: scaleX(1);
  }
}

.auth-nav {
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    align-items: center;

    & .auth-nav__item + .auth-nav__item {
      margin-left: 50px;
    }
  }
  & .link {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }
    font-family: Roboto;
    font-weight: 500px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
  }
}

.site-nav__link.site-nav__link--active {
  color: $accent-color;
}

.navigation {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 80px;
}
