/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.header-container {
  min-height: 60px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;

  z-index: 100;

  display: inline-flex;
  margin: 0;
  padding: 0;

  border: none;

  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;

    position: fixed;
    z-index: 55;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vw;
    // overflow-y: scroll;
    height: 100%;

    padding: 48px 40px;

    background-color: $primary-white-color;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
  }
}

.menu-container.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-nav-icon {
  @media screen and (max-width: 1199px) {
    &.tablet-envelope {
      width: 14px;
      height: 10px;
    }
    &.tablet-smartphone {
      width: 10px;
      height: 14px;
    }
  }

  @media screen and (min-width: 1200px) {
    &.desktop-envelope {
      width: 16px;
      height: 12px;
    }
    &.desktop-smartphone {
      width: 10px;
      height: 16px;
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
  margin-right: 10px;
  fill: currentColor;
}

.site-nav {
  @media screen and (max-width: 767px) {
    font-size: 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 88px;

    & .site-nav__item + .site-nav__item {
      margin-left: 50px;
    }
  }

  & .link {
    display: block;
    color: $title-text-color;
    font-weight: 500;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: inherit;

  @media screen and (min-width: 768px) {
    &.site-nav__link--active::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: -18px;

      width: 100%;
      height: 4px;

      background-color: $accent-color;
      border-radius: 2px;

      transform: scaleX(1);
    }

    &::after {
      content: "";

      transform: scaleX(0);
      transition: transform $animation-time $main-timing-function;
    }

    &:hover::after,
    &:focus::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: -18px;

      width: 100%;
      height: 4px;

      background-color: $accent-color;
      border-radius: 2px;

      transform: scaleX(1);
    }
  }
}

.mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.navigation-box {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contact-box {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.auth-nav {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    align-items: center;

    & .auth-nav__item + .auth-nav__item {
      margin-left: 50px;
    }
  }
}

//   & .link {
//     @media screen and (min-width: 1200px) {
//       display: flex;
//       align-items: center;
//     }
//     font-family: Roboto;
//     font-weight: 500px;
//     line-height: 1.14;
//     letter-spacing: 2%;
//   }
// }

.auth-nav__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    line-height: 1.2;
    &:first-child {
      margin-bottom: 64px;
      color: $primary-text-color;
      font-size: 24px;
    }

    &:last-child {
      margin-bottom: 32px;
      color: $accent-color;
      font-size: 34px;
    }
  }
}

.mobile-social {
  display: flex;
  padding: 0;
}

.mobile-social__link {
  color: $accent-color;
  font-size: 18px;
  line-height: 1.2;
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.site-nav__link.site-nav__link--active {
  color: $accent-color;
}

.mobile-social__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}

.mobile-box {
  display: flex;
  flex-direction: column;
}

.navigation {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 80px;
}
