/* Секция "our-team-section" */
.our-team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}

.our-team-section__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: $title-text-color;
  margin-bottom: 50px;
}

.our-team-list__item {
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 450px;
  width: 100%;
  min-height: 428px;
}

.our-team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    & .our-team-list__item + .our-team-list__item {
      margin-left: 30px;
    }
  }
}

.our-team-list__title {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.our-team-list__text {
  line-height: 1.2;
  text-align: center;
}

.our-team-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 16px;
}

.our-team-contacts__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.our-team-contacts__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  fill: #afb1b8;
  border-radius: 50px;
  transition: fill $animation-time $main-timing-function,
    background-color $animation-time $main-timing-function;

  &:hover {
    fill: $primary-white-color;
    background-color: $accent-color;
    border-radius: 50px;
  }
}
