/* Works Portfolio */

/* specialization-section  */

.specialization-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.specialization-box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  & .specialization-box__item + .specialization-box__item {
    margin-left: 8px;
  }
}

.specialization-box__item {
  font-family: Roboto, sans-serif;
}

/* Card set */
.card-set {
  padding: 0;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-bottom: calc(-1 * 30px);
  }
}

.samples-card {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 404px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  border-bottom: 1px solid #eeeeee;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  // &:nth-child(-n + 3) {
  //   margin-top: 0;
  // }

  // &:nth-child(3n + 1) {
  //   margin-left: 0;
  // }
}

.samples-card-content {
  flex-grow: 1;
  padding: 20px 24px;
  max-height: 110px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;
    min-height: 146px;
  }
}

.samples-card-content__paragraph {
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.9;
}

.samples-card-content__title {
  color: $title-text-color;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.samples-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.samples-card__link:hover,
.samples-card__link:focus {
  color: $primary-text-color;
}

.samples-card-thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.samples-card-thumb__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform $animation-time $main-timing-function;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;

  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  background-color: rgba(33, 150, 243, 0.9);
}

.samples-card:hover .samples-card-thumb__text,
.samples-card:focus .samples-card-thumb__text {
  transform: translateY(0);
}
