/* Секция "why-us-section" */
.why-us-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-top: 94px;
  }
}

.characteristics__box {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: $background-color;
  border-radius: 4px;
}

.characteristics {
  display: flex;

  & .characteristics__item + .characteristics__item {
    margin-left: 30px;
  }
}

.characteristics__paragraph {
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

.characteristics__title {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
