/* Buttons */

.button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: $title-text-color;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  text-align: center;
  transition: background-color $animation-time $main-timing-function,
    color $animation-time $main-timing-function;
}

.button-filter {
  @media screen and (max-width: 767px) {
    &:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: $secondary-color;
  padding: 6px 22px;
  align-items: center;

  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button-studio {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background-color: $accent-color;
  padding: 10px 32px;
  min-width: 200px;
  border: none;
}
