/* Basic styles */
body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  }

.link {
  color: inherit;
  text-decoration: none;
  transition: color var(--animation-time) var(--main-timing-function);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
